<div id="loginView" class="container mt-5 ">
    <div class="row justify-content-center align-items-center" style="min-height: 60vh;">
        <div class="col-md-5 col-lg-4">
            <div class="card p-5 border-0 shadow-lg">
                <h3 class="fw-bold text-center mb-4">Sisteme Giriş</h3>
                <form id="loginForm">
                    <div class="mb-3"><input type="text" class="form-control form-control-lg bg-light border-0" id="username" placeholder="Kullanıcı: admin" required></div>
                    <div class="mb-4"><input type="password" class="form-control form-control-lg bg-light border-0" id="password" placeholder="Şifre: 12345" required></div>
                    <button type="submit" class="btn btn-primary btn-lg w-100 rounded-pill fw-bold">Giriş Yap</button>
                </form>
            </div>
        </div>
    </div>
</div>